body {
padding: 7rem;
}

.header {
   background-color: rgb(4, 188, 74);
   height: 80px;
   color: white;
   border: 2px solid black;
   align-content: center;
   justify-items: center;
}

.both{
    display: flex;
}

.sidebar{
    background-color: rgb(224, 221, 221);
    height: 450px;
    width: 300px;
    border: 2px solid black;
    align-content: center;
}

.main{
    border: 2px solid black;
    width: 1300px;
    align-content: center;
}

.footer{
    background-color: rgb(42, 39, 39);
    color: white;
    height: 80px;
    border: 2px solid black;
    align-content: center;
    justify-items: center;
}

